@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.custom-bg{
  background: radial-gradient(circle, rgba(141,70,232,1) 40%, rgba(76,90,220,1) 63%, rgba(48,48,48,1) 100%);
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: thin; /* Per i browser che supportano la proprietà scrollbar-width */
  scrollbar-color: #888 #f1f1f1; 
}

.custom-bg::-webkit-scrollbar {
  width: 0px;
}

.custom-bg::-webkit-scrollbar-track {
  background: #888888;
}

.custom-bg::-webkit-scrollbar-thumb {
  background: #888;
}

.rotate-animation {
  animation: rotate 5s linear infinite; 
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
